.blog {
  width: 100%;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .blog__head {
    width: 80%;
    margin: 0 auto;
    h1 {
      text-align: center;
      /* Font Style/Headline/2 */
      padding-top: 60px;

      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 62px;

      color: #000000;
    }
    p {
      text-align: center;
      width: 50%;
      margin: 0 auto;
      /* Font Style/Body/2 */
      padding-top: 12px;

      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 155%;
      /* or 25px */

      text-align: center;

      color: #555555;
      padding-bottom: 48px;
    }
  }
  .cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    .card__in__card {
      background-color: #fff;
      width: 30%;
      margin: 30px 24px;
      background: #ffffff;
      border: 0.5px solid #bfbfbf;
      box-sizing: border-box;
      border-radius: 4px;
      .teacher {
        width: 100%;
        // margin: 18px;
      }
      .card__active {
        padding: 29.5px;
        h4 {
          /* Font Style/Tittle/2 */

          font-family: DM Sans;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;

          color: #222222;
        }
        p {
          /* Font Style/Body/3 */

          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 155%;
          /* or 22px */

          color: #444444;
          margin-bottom: 24px;
          margin-top: 16px;
        }
        a {
          text-decoration: none;
          /* Font Style/Body/2 */

          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 155%;
          /* identical to box height, or 25px */

          color: #086cf9;
        }
      }
    }
  }
  .btnViewAll {
    background: #086cf9;
    border-radius: 6px; /* Font Style/Button/1 */

    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #ffffff;
    padding: 16px 32px;
    border: none;
    text-align: center;
    margin: 48px 0;
    &:hover {
      background: #1e79f8de;
    }
  }
}
