.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-top: 40px;
  /* position: fixed; */
  background-color: #fff;
}
.navbar__logo a {
  text-decoration: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #222222;
}
.links {
  list-style: none;
  display: flex;
}
.link a {
  text-decoration: none;
  /* Font Style/Body/2 */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  /* identical to box height, or 25px */

  color: #222222;
  margin: 0 31px;
}
.link a:hover{
    color: #086cf9;
}

.btn {
  border: none;
  margin: 0 31px;
  background-color: #fff;
  cursor: pointer;

  /* Font Style/Body/2 */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  /* identical to box height, or 25px */

  color: #222222;
}

.btn__singup {
  padding: 12px 24px;

  background: #086cf9;
  border-radius: 4px;

  /* Font Style/Button/2 */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}
.btn__singup:hover{
  background: #1e79f8;

}