.students {
  background-color: #efefef;
  .students__head {
    width: 100%;
    h1 {
      text-align: center;
      /* Font Style/Headline/2 */

      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 62px;

      color: #000000;
      padding-top: 128px;
    }
    p {
      text-align: center;
      width: 25%;
      margin: 0 auto;
      /* Font Style/Body/2 */

      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 155%;
      /* or 25px */

      text-align: center;

      color: #555555;
    }
  }
  .slider{
      margin-top: 42px;
      height: 100px;
  }
}
