.h1__title {
    text-align: center;
    /* Font Style/Headline/2 */

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #FCFCFC;
    padding-top: 48px;
  }
  .p_text {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    /* Font Style/Body/2 */

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */

    text-align: center;

    color: #FCFCFC;
    padding-bottom:  40px;
  }